

.login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 40px 80px 80px 150px;

}
.login-card{
    width: 60%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 10%;
    padding: 10px;
    background: var(--card-bg);
    color: var(--text-primary);
    box-shadow: 0 0 10px #a18c8c, 0 0 20px #ffffff;
    transition: transform 0.5s;
}
.login-card:hover{
    transform: scale(1.1);
}
.card-name{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--text-primary);
}
.login-form{
    width: 500px;
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}
.inputbox{
    margin-left: 150px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px #a18c8c, 0 0 0px #ffffff;
    background-color: transparent;
    color: var(--text-primary);
    &:focus{
        outline: none;
    }
} 
.button{
    padding: 10px 20px;
    margin-left: 150px;

    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 5px #a18c8c, 0 0 0px #ffffff;
    color: var(--text-primary);
    &:hover{
        background-color: var(--bg-secondary);
    }
} 
 .linkedlinks{
    margin-left: 150px;

    color: var(--text-primary);
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
@media (max-width: 768px) {
  .login{
    width: 100%;
    margin-left:80px;
    margin-top: 0px;
    height: 100vh;

  }
  .login-card{
    margin-top: 0px;
    width: 300px;
  }
  .inputbox{
    margin-left: 10px;

  }
  .login-form{
    width: 90%;
    padding: 0px;
  }
  .button{
    margin-left: 10%;
  }
  .linkedlinks{
    margin-left: 20px;
  }

}